div {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #c177cc;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    color: white;

}

h1{
    font-family: "Audiowide", sans-serif;
    font-size: xx-large;

}