.register-container{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.register-step-two{
    margin-top: 5px;
}

form {
	width: 250px;
    font-family: 'Montserrat';
   
    
}

h2 {
    text-align: center;
    font-family: 'Montserrat';
}

input {
    width: 100%;
    box-sizing: border-box;
    margin: 0 0 20px 0;
}

.step1 {
    font-family: 'Montserrat';
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: rgb(120, 166, 206);
    color: white;
}

.step2{
    font-family: 'Montserrat';
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: rgb(120, 166, 206);
    color: white;
}

span {
    color: red;
    margin: 0 20px;
    position: absolute;
}





 