form {
	width: 250px;
    border: 1px black solid;
    border-radius: 10px;
    padding: 5px;
}

h2 {
    text-align: center;
    color: blue;
    border-bottom: 1px solid;
}

input {
    width: 100%;
    box-sizing: border-box;
    margin: 0 0 20px 0;
}

button {
    /* width: 100%;
    margin: 10px 0 20px 0; */
    width: 100%;
    margin: 10px 0 20px 0;
    font-family: 'Montserrat';
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: rgb(120, 166, 206);
    color: white;
}



span {
    color: red;
    margin: 0 20px;
    position: absolute;
}

.ng-touched.ng-invalid:not(form) {
    border: 2px solid red;
    background-color: pink;
}

