<div class="shop">
<mat-drawer-container>
    <mat-drawer [(opened)]="opened" mode="side">
        <div class="cart-container">   
            <app-cart></app-cart>
             </div>
    </mat-drawer>
    <mat-drawer-content>
        <div class="products-container">
            <button type="button"  (click)="opened=!opened" >
               <mat-icon>shopping_cart</mat-icon> 
            </button>
            <app-product-list ></app-product-list>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
</div>







<!-- <div class="shop-container" >
    <div class="cart-container ">   
       <app-cart></app-cart>
        </div>
    <div class="products-container">
        <app-product-list ></app-product-list>
    </div>
    
</div> -->

